## Reading and writing CSV files with NumPy

In [11]:
# import genfromtxt function
from numpy import genfromtxt

# Read comma separated file
my_data = genfromtxt('my_file.csv', delimiter=',')

In [12]:
# import numpy
import numpy as np

# Create a sample array
sample_array = np.asarray([ [1,2,3], [4,5,6], [7,8,9] ])

# Write sample array to CSV file
np.savetxt("my_first_file.csv", sample_array, delimiter=",")

## Reading and writing CSV files with Pandas

In [13]:
import pandas as pd
# Read CSV file
sample_df=pd.read_csv('my_sample_file.csv', sep=',' , header=None)

FileNotFoundError: [Errno 2] File my_sample_file.csv does not exist: 'my_sample_file.csv'

In [ ]:
# Save DataFrame to CSV file.
sample_df_temp.to_csv('sample_df_temp.csv')

## Reading and Writing Data from Excel

In [ ]:
# Read excel file
df=pd.read_excel('file_name.xlsx', sheet_name='sheet_title')

In [ ]:
df.to_excel('file_name.xlsx', sheet_name='sheet_title')

In [ ]:
with pd.ExcelWriter('file_name.xlsx') as writer:
    first_df.to_excel(writer, sheet_name='first_sheet_title')
    second_df.to_excel(writer, sheet_name='second_sheet_title')

## Reading and Writing Data from JSON

In [ ]:
# Reading JSON file
df=pd.read_json('test.json')

# Writing DataFrame to JSON file
df.to_json(orient="columns")

In [ ]:
Reading and Writing Data from HDF5

In [ ]:
## Read a hdf5 file
df=pd.read_hdf('employee.h5', 'table')

# Write DataFrame to hdf5
df.to_hdf('employee.h5', 'table', append=True)

## Reading and Writing Data from HTML Tables

In [14]:
import pandas as pd

In [15]:
# Reading HTML table from given URL
table_url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df_list = pd.read_html(table_url)
print("Number of DataFrames:",len(df_list))

Number of DataFrames: 8

In [16]:
# Check first DataFrame
df_list[0].head()

,Flag,English short name,English long name,Domestic short name(s),Capital,Currency,Location
0,NaN,Antigua and Barbuda[n 1],Antigua and Barbuda,English: Antigua and Barbuda,St. John's,East Caribbean dollar,Caribbean
1,NaN,"Bahamas, The[n 1]",Commonwealth of The Bahamas,English: Bahamas,Nassau,Bahamian dollar,Lucayan Archipelago
2,NaN,Barbados[n 1],Barbados,English: Barbados,Bridgetown,Barbadian dollar,Caribbean
3,NaN,Belize[n 1][n 2],Belize,English: Belize,Belmopan,Belize dollar,Central America
4,NaN,Canada[n 3],Canada,English: CanadaFrench: Canada,Ottawa,Canadian dollar,Northern America

In [20]:
# Write DataFrame to raw HTML
df_list[1].to_html('country.html')

## Reading and Writing Data from parquet

In [ ]:
# Read parquet file
employee_df1 = pd.read_parquet('employee.parquet', engine='pyarrow', columns=['ename', 'designation','salary'])

employee_df2 = pd.read_parquet('employee.parquet', engine='fastparquet', columns= ['ename', 'designation','salary'])

In [ ]:
# Write to a parquet file.
customer_df.to_parquet('customer.parquet', engine='pyarrow')

customer_df.to_parquet('customer.parquet', engine='fastparquet')

## Reading and Writing Data from Pickle Pandas Object

In [ ]:
#Read DataFrame object from pickle file
pd.read_pickle('foo.pkl')

In [ ]:
# Save DataFrame object in pickle file
df.to_pickle('foo1.pkl')

## Lightweight access with sqllite3

In [ ]:
# Import sqlite3
import sqlite3

# Create connection. This will create the connection with employee database.
# If the database does not exist it will create the database
conn = sqlite3.connect('employee.db')

# Create cursor
cur = conn.cursor()

# Execute SQL query and create the database table
cur.execute("create table emp(eid int,salary int)")

# Execute SQL query and Write the data into database
cur.execute("insert into emp values(105, 57000)")

# commit the transaction
con.commit()

# Execute SQL query and Read the data from the database
cur.execute('select * from emp')

# Fetch records
print(cur.fetchall())

# Close the Database connection
conn.close()

## Reading and Writing Data from MySQL

In [ ]:
# import pymysql connector module
import pymysql

# Create a connection object using connect() method with parameters IP Address, user name, password, database name, character set and cursor type.

connection = pymysql.connect(host='localhost', # IP address of the MySQL database server
                             user='root', # user name
                             password='12345', # password
                             db='emp', # database name
                             charset='utf8mb4', # character set
                             cursorclass=pymysql.cursors.DictCursor) # cursor type

try:
    with connection.cursor() as cur:
        # Inject a record in database
        sql_query = "INSERT INTO `emp` (`eid`, `salary`) VALUES (%s, %s)"
        cur.execute(sql_query, (104,43000))


    # Execution will not commit records automatically. We need to commit the record insertion explicitly.
    connection.commit()

    with connection.cursor() as cur:
        # Read records from employee table
        sql_query = "SELECT * FROM `emp`"
        cur.execute(sql_query )
        table_data = cursor.fetchall()
        print(table_data)

except:
    print("Exception Occurred")
finally:
    connection.close()

In [ ]:
# Import the required connector
import mysql.connector

# Establish a database connection to mysql
connection=mysql.connector.connect(user='root',password='12345',host='localhost',database='employee')

# Create a cursor
cur=connection.cursor()

# Running sql query
cur.execute("select * from emp")

# Fetch all the records and print it one by one using for loop
for i in cur.fetchall():
    print(i)

# Create a DataFrame from fetched records.
df = pd.DataFrame(cur.fetchall())

# Assign column names to DataFrame
df.columns = [i[0] for i in cur.description]

# close the connection
connection.close()

In [ ]:
# Import the sqlalchemy engine
from sqlalchemy import create_engine

# Instantiate engine object
en = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                .format(user="root", 
                        pw="abc@123", 
                        db="emp"))

# Insert the whole dataframe into the database using to_sql() with the table name, if_exists and chunksize parameter

df.to_sql('emp', con=en, if_exists='append',chunksize=1000)

## Reading and Writing Data from MongoDB

In [ ]:
!pip install pymongo

In [ ]:
# Import pymongo
import pymongo

# Create mongo client
client = pymongo.MongoClient()

# Get database
db = client.employee

# Get the collection from database
collection = db.emp

employee_salary = {"eid":114, "salary":25000}

# Write the data using insert_one() method
collection.insert_one(employee_salary)

# Read the data from collection and assigns fetched data to pandas DataFrame
data = pd.DataFrame(list(collection.find()))

## Reading and Writing Data from Cassandra

In [ ]:
!pip install cassandra-driver

In [ ]:
# Import the cluster
from cassandra.cluster import Cluster

# Creating a cluster object
cluster = Cluster()

# Create connections by calling Cluster.connect():
conn = cluster.connect()

# Execute the insert query
session.execute(
 """ INSERT INTO users (eid, ename, age) VALUES (%(eid)s, %(ename)s, %(age)s, %(name)s)""", 
 {'eid':101, 'ename': "Steve smith", 'age': 42})

# Execute the select query
rows = conn.execute('SELECT * FROM users')

# Print the results
for emp_row in rows:
    print(emp_row.eid, emp_row.ename, emp_row.age)

# Create a dataframe and assign fetched data to DataFrame
data = pd.DataFrame(rows)

## Reading and Writing Data from Redis

In [ ]:
!pip install redis

In [21]:
# Import module
import redis

# Create connection
r = redis.Redis(host='localhost', port=6379, db=0)

# Setting key-value pair
r.set('eid', '101')

# Get value for given key
value=r.get('eid')

# Print the value
print(value)

101

## Pony ORM

In [ ]:
!pip install pony

In [ ]:
# Import pony module
from pony.orm import *

# Create database
db = Database()

# Define entities
class Emp(db.Entity):
    eid = PrimaryKey(int,auto=True)
    salary = Required(int)

# Check entity definition
show(Emp)

# Bind entities to MySQL database
db.bind('mysql', host='localhost', user='root', passwd='12345', db='employee')

# Generate required mappings for entities
db.generate_mapping(create_tables=True)

# turn on the debug mode
sql_debug(True)

# Select the records from Emp entities or emp table
select(e for e in Emp)[:]

# Show the values of all the attribute
select(e for e in Emp)[:].show()